.ruta, .card{
    border-radius: 15px;
    padding: 15px;
}

.ciudad{
    font-family: 'Cambria';
    font-weight: bold; /*negrita*/
    text-transform: uppercase; /*transformacion a mayuscula*/
    font-size: 10px;
}

.terminal{
    font-family:  'Arial Narrow';
    font-weight: bold; /*negrita*/
    color: green;
     font-size: 20px;
}

.tipo{
    font-size: 12px;
}

.direccion{
    font-size: 12px;
}

table{
   
}

.asiento-l {
    background-image: url(../imagenes/silla.png);
    color: #120509;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    width: 40px;
    font-family: Arial,serif;
    background-color: #fff;
    font-size: 13px;
}
.s1{
   background-color: red;
}

.s2{
    background-color: green;
 }
 .s0{
    background-color: white;
 }

 .s3{
    background-color: yellow;
 }


  .containerbus {
    display: flex;
    justify-content: center;
  }
  
  .autobus {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: auto;
  }
  