<div class="d-flex justify-content-end">
    <button type="button" class="btn-close" aria-label="Close" onclick="" style="background-color: red;"></button>
</div>

<h2 style="text-align:center;">EL RÁPIDO</h2>
<div class="container">
    <div class="row ruta m-5" style="background-color: white;">
        <div class="col">
            <span class="ciudad">San Juan de Lurigancho</span><br>
            <span class="terminal">TERMINAL SJL</span><br>
            <span class="tipo">Origen</span><br>
            <span class="direccion">AV. SANTA ROSA</span>
        </div>
        <div class="col">
            <span class="ciudad">Cusco</span><br>
            <span class="terminal">TERMINAL CUSCO</span><br>
            <span class="tipo">Destino</span><br>
            <span class="direccion">JR. LETICIA</span>
        </div>

    </div>
</div>

<div class="container">
    <div class="card m-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <span class="bx bx-bus-school"></span>
                        <span>Sofa Premium</span>
                    </div>
                    <div class="col">
                        <span class="bx bx-wifi"></span>
                        <span class="bx bx-tv"></span>
                        <span class="bx bx-bluetooth"></span>
                        <span class="bx bx-music"></span>
                    </div>
                </div>


            </li>
            <li class="list-group-item">
                <span>Servicio SOFÁ PREMIUM con atención de tripulante a bordo. Bus de dos niveles con asientos
                    ergonómicos. Asientos reclinables en ambos niveles.</span>
                <div class="row">
                    <div class="col m-4">
                        <span class="bx bx-money"></span>
                        <span class="desc_precio m-2">Total : S/. 75</span>
                    </div>
                    <div class="col m-4">
                        <span class="bx bx-user"></span>
                        <span class="m-2">21</span><br>
                        <span>Asientos libres</span>
                    </div>
                </div>
            </li>
            <li class="list-group-item ">
                <div class="row m-4">
                    <div class="col-3">
                        <span class="bx bx-calendar">09/11/2022</span>
                    </div>
                    <div class="col">
                        <span class="bx bx-time">7:00pm</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8" style="background-color: white;">
                        <div style="text-align: center;">
                            <span>SELECCIONE SU ASIENTO</span>
                        </div>
                        <div class="seating m-4" style="text-align: center;">
                            <table class="table">
                                <tbody>
                                  <tr>
                                    <td>
                                        <button class="btn btn-light">
                                            <i class="bx bx-chair">1</i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-light">
                                            <i class="bx bx-chair">2</i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-light">
                                            <i class="bx bx-desktop"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-light">
                                            <i class="bx bx-chair">3</i>
                                        </button>
                                    </td>
                                    <tr>
                                        <td>
                                            <button class="btn btn-light">
                                                <i class="bx bx-chair">4</i>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-light">
                                                <i class="bx bx-chair">5</i>
                                            </button>
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            <button class="btn btn-light">
                                                <i class="bx bx-chair">6</i>
                                            </button>
                                        </td>
                                  </tr>

                                </tbody>
                              </table>
                        </div>
                    </div>

                    <div class="col-auto">
                        
                        <span>ESTADO DE ASIENTOS</span>
                        <ul style="list-style: none;">
                            <li>
                                <span class="bx bxs-checkbox" style="color: red;"></span>
                                <span>Disponibles</span>
                            </li>
                            <li>
                                <span class="bx bxs-checkbox" style="color: green;"></span>
                                <span>No Disponibles</span>
                            </li>
                            <li>
                                <span class="bx bxs-checkbox" style="color: yellow;"></span>
                                <span>Seleccionado</span>
                            </li>
                        </ul><br>
                        <span>Seleccionado: </span>
                        <span>1</span>
                        <br><br>
                        <span>Total a pagar: S/.</span>
                        <span>75</span><br><br>
                        <div style="text-align: center;">
                            <button class="btn btn-success" onclick="" routerLink="/pasajes">Continuar</button>
                        </div>
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>


</div>