
.container-fluid{
    align-items: center;
}
.text-logo{
    font-family: impact;
}
.navbar-brand{
    text-align: center;
}

.d-flex{
    margin: 30px;
}
    


.navbar-collapse{
    background-color: aqua;
   
}