<div class="container">
    <div class="d-flex justify-content-center m-5 ">
        <div class="card form-control fondo" >
            <div class="card-header" style="text-align: center; color: blue; font-weight:bold ; font-size: 25px;">
              <span>COMPROBANTE DE PAGO</span>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <span class="subtitle">Empresa: EL RÁPIDO</span><br>
                        <span class="subtitle">Destino: </span><br>
                        <span class="subtitle">Direccion: </span><br>
                        <span class="subtitle">ID Bus:</span>
                    </div>
                    <div class="col">
                        <span class="subtitle">Fecha: 16/11/2022</span><br>
                        <span class="subtitle">Origen: </span><br>
                        <span class="subtitle">Direccion: </span><br>
                        <span class="subtitle">Asientos comprados: </span>
                    </div>
                </div>
              </li>
              <li class="list-group-item">
                <div style="text-align: center;">
                  <span 
                  style="color:rgb(66, 64, 64); font-size: 25px; font-weight: bold;">DATOS DEL PASAJERO</span></div>
               
                <div class="row">
                    <div class="col">
                        <span class="subtitle">N° Documento: </span><br>
                        <span class="subtitle">Nombres: </span><br>
                        <span class="subtitle">Género: </span><br>
                        <span class="subtitle">Correo: </span>

                    </div>
                    <div class="col">
                        <span class="subtitle"></span><br>
                        <span class="subtitle">Apellidos: </span><br>
                        <span class="subtitle">F. Nacimiento: </span><br>
                        <span class="subtitle">Celular: </span><br>
                    </div>
                </div>
              </li>
              <li class="list-group-item m-auto">
                <button class="btn btn-success" routerLink="">Aceptar</button>
              </li>
            </ul>
          </div>
    </div>
    
</div>

